In [1]:
# import all external packages
import pandas as pd
import numpy as np
import sys
import os

In [2]:
# add current path as a root
sys.path.append(os.getcwd())

In [29]:
# import all created packages
from converting.to_binary_columns import to_binary_columns
from converting.to_enum import to_enum
from supplementing.simple.by_mode import by_mode
from supplementing.simple.by_mean import by_mean

In [34]:

sample_data = pd.DataFrame({
    "category name": ["a b", None, None, "a", "b", "c"],
    "name": [1, 2, 3, None, 4, 5],
    "lastname": ["z", "z", "c", "z", "z", "c"]
})

by_mean(sample_data, ["name"])

  category name  name lastname
0           a b   1.0        z
1          None   2.0        z
2          None   3.0        c
3             a   3.0        z
4             b   4.0        z
5             c   5.0        c