In [13]:
# import all external packages
import pandas as pd
import numpy as np
import sys
import os

In [14]:
# add current path as a root
sys.path.append(os.getcwd())

In [15]:
# import all created packages
from converting.to_binary_columns import to_binary_columns
from converting.to_enum import to_enum

In [16]:

sample_data = pd.DataFrame({
    "category name": ["a b", "b", "c", "a", "b", "c"],
    "name": ["a", "b", "c", "a", "b", "c"],
    "lastname": ["z", "z", "c", "z", "z", "c"]
})

to_binary_columns(sample_data, ["category name", "name"])[0]

  lastname  category name_a  category name_a b  ...  name_a  name_b  name_c
0        z                0                  1  ...       1       0       0
1        z                0                  0  ...       0       1       0
2        c                0                  0  ...       0       0       1
3        z                1                  0  ...       1       0       0
4        z                0                  0  ...       0       1       0
5        c                0                  0  ...       0       0       1

[6 rows x 8 columns]