In [72]:
import pandas as pd
import numpy as np
import sys
import os

In [73]:

sys.path.append(os.getcwd())

In [74]:
from converting.to_binary_columns import to_binary_columns

sample_data = pd.Series(["a", "b", "c", "a", "b", "c"], name="category")

to_binary_columns(sample_data)

   has_a  has_b  has_c
0   True  False  False
1  False   True  False
2  False  False   True
3   True  False  False
4  False   True  False
5  False  False   True