In [81]:
# import all external packages
import pandas as pd
import numpy as np
import sys
import os

In [82]:
# add current path as a root
sys.path.append(os.getcwd())

In [83]:
# import all created packages
from converting.insert_nulls import insert_nulls
from converting.to_binary_columns import to_binary_columns

In [84]:
# ---------------------------------------------------------------------------- #
#                              Insert NULL Values                              #
# ---------------------------------------------------------------------------- #

# Read data from the CSV file
file_path = "../../data/orginal/credit_card_approval.csv"
data = pd.read_csv(file_path)

# Exclude "ID" and "TARGET" columns from being filled with null values
excluded_columns = [
    "ID",
    "TARGET",
]

# Fill with null values
data_with_nulls = insert_nulls(
    data,
    percentage=0.1,
    excluded_columns=excluded_columns,
)

# Save the data to a new CSV file
data_with_nulls.to_csv(
    "../../data/credit_card_approval.csv",
    index=False,
)

In [75]:
from converting.to_binary_columns import to_binary_columns

sample_data = pd.Series(["a", "b", "c", "a", "b", "c"], name="category")

to_binary_columns(sample_data)

   has_a  has_b  has_c
0   True  False  False
1  False   True  False
2  False  False   True
3   True  False  False
4  False   True  False
5  False  False   True