In [11]:
# import all external packages
import pandas as pd
import numpy as np
import sys
import os

In [12]:
# add current path as a root
sys.path.append(os.getcwd())

In [13]:
# import all created packages
from supplementing.simple.by_mode import by_mode
from supplementing.simple.by_zero import by_zero
from supplementing.complex.by_regression import by_regression
from converting.to_binary_columns import to_binary_columns

In [14]:
# read orginal data
file_path = "../../data/orginal/credit_card_approval.csv"
data = pd.read_csv(file_path)
data.drop("ID", axis=1, inplace=True)

In [15]:
# fill in the missing data
by_mode(
    data,
    [
        "CODE_GENDER",
        "FLAG_OWN_CAR",
        "FLAG_OWN_REALTY",
        "CNT_CHILDREN",
        "NAME_EDUCATION_TYPE",
        "NAME_FAMILY_STATUS",
        "NAME_HOUSING_TYPE",
        "JOB",
        "STATUS",
        "FLAG_MOBIL"
    ],
)
by_zero(data, ["FLAG_WORK_PHONE", "FLAG_PHONE", "FLAG_EMAIL"])
by_regression(data, ["AMT_INCOME_TOTAL", "DAYS_BIRTH", "DAYS_EMPLOYED", "BEGIN_MONTHS"])

,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,JOB,BEGIN_MONTHS,STATUS,TARGET
0,F,Y,N,2+ children,270000.0,Secondary / secondary special,Married,With parents,-13258.0,-2300.0,1.0,0.0,0.0,0.0,Managers,-6.0,C,0
1,F,N,N,No children,81000.0,Secondary / secondary special,Single / not married,House / apartment,-17876.0,-377.0,1.0,1.0,1.0,0.0,Private service staff,-4.0,0,0
2,M,Y,Y,No children,270000.0,Higher education,Married,House / apartment,-19579.0,-1028.0,1.0,0.0,1.0,0.0,Laborers,0.0,C,0
3,F,Y,Y,1 children,112500.0,Secondary / secondary special,Married,House / apartment,-15109.0,-1956.0,1.0,0.0,0.0,0.0,Core staff,-3.0,0,0
4,M,Y,Y,2+ children,139500.0,Secondary / secondary special,Married,House / apartment,-17281.0,-5578.0,1.0,1.0,0.0,0.0,Drivers,-29.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537662,M,Y,N,1 children,166500.0,Secondary / secondary special,Married,With parents,-12372.0,-5401.0,1.0,0.0,1.0,0.0,Core staff,-8.0,0,0
537663,F,N,Y,No children,135000.0,Higher education,Married,With parents,-14160.0,-4635.0,1.0,0.0,0.0,0.0,Sales staff,-8.0,0,0
537664,M,N,Y,No children,180000.0,Higher education,Married,House / apartment,-24204.0,-2462.0,1.0,0.0,0.0,0.0,Private service staff,-7.0,0,0
537665,M,Y,N,No children,220500.0,Secondary / secondary special,Married,House / apartment,-22647.0,-3847.0,1.0,0.0,1.0,0.0,Laborers,-1.0,0,0
537666,F,N,Y,No children,387000.0,Secondary / secondary special,Married,House / apartment,-20082.0,-4979.0,1.0,0.0,0.0,0.0,Sales staff,-45.0,C,0

In [16]:
# processing of categorical data
data["CODE_GENDER"].replace({ 'F': 0, 'M': 1 }, inplace=True)
data["FLAG_OWN_CAR"].replace({ 'N': 0, 'Y': 1 }, inplace=True)
data["FLAG_OWN_REALTY"].replace({ 'N': 0, 'Y': 1 }, inplace=True)
data = to_binary_columns(data, ["CNT_CHILDREN", "NAME_EDUCATION_TYPE", "NAME_FAMILY_STATUS", "NAME_HOUSING_TYPE", "JOB"])[0]

,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,AMT_INCOME_TOTAL,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,...,JOB_Laborers,JOB_Low-skill Laborers,JOB_Managers,JOB_Medicine staff,JOB_Private service staff,JOB_Realty agents,JOB_Sales staff,JOB_Secretaries,JOB_Security staff,JOB_Waiters/barmen staff
0,0,1,0,270000.0,-13258.0,-2300.0,1.0,0.0,0.0,0.0,...,0,0,1,0,0,0,0,0,0,0
1,0,0,0,81000.0,-17876.0,-377.0,1.0,1.0,1.0,0.0,...,0,0,0,0,1,0,0,0,0,0
2,1,1,1,270000.0,-19579.0,-1028.0,1.0,0.0,1.0,0.0,...,1,0,0,0,0,0,0,0,0,0
3,0,1,1,112500.0,-15109.0,-1956.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,1,139500.0,-17281.0,-5578.0,1.0,1.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537662,1,1,0,166500.0,-12372.0,-5401.0,1.0,0.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,0
537663,0,0,1,135000.0,-14160.0,-4635.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,1,0,0,0
537664,1,0,1,180000.0,-24204.0,-2462.0,1.0,0.0,0.0,0.0,...,0,0,0,0,1,0,0,0,0,0
537665,1,1,0,220500.0,-22647.0,-3847.0,1.0,0.0,1.0,0.0,...,1,0,0,0,0,0,0,0,0,0
537666,0,0,1,387000.0,-20082.0,-4979.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,1,0,0,0