In [3]:
# import all external packages
import pandas as pd
import numpy as np
import sys
import os

In [82]:
# add current path as a root
sys.path.append(os.getcwd())

In [1]:
# import all created packages
from converting.insert_nulls import insert_nulls
from converting.to_binary_columns import to_binary_columns
from converting.to_enum import to_enum

In [84]:
# ---------------------------------------------------------------------------- #
#                              Insert NULL Values                              #
# ---------------------------------------------------------------------------- #

# Read data from the CSV file
file_path = "../../data/orginal/credit_card_approval.csv"
data = pd.read_csv(file_path)

# Exclude "ID" and "TARGET" columns from being filled with null values
excluded_columns = [
    "ID",
    "TARGET",
]

# Fill with null values
data_with_nulls = insert_nulls(
    data,
    percentage=0.1,
    excluded_columns=excluded_columns,
)

# Save the data to a new CSV file
data_with_nulls.to_csv(
    "../../data/credit_card_approval.csv",
    index=False,
)

In [12]:

sample_data = pd.DataFrame({
    "category name": ["a b", "b", "c", "a", "b", "c"],
    "name": ["a", "b", "c", "a", "b", "c"],
    "lastname": ["z", "z", "c", "z", "z", "c"]
})

to_binary_columns(sample_data, ["category name", "name"])[0]

  lastname  category name_a  category name_a b  ...  name_a  name_b  name_c
0        z                0                  1  ...       1       0       0
1        z                0                  0  ...       0       1       0
2        c                0                  0  ...       0       0       1
3        z                1                  0  ...       1       0       0
4        z                0                  0  ...       0       1       0
5        c                0                  0  ...       0       0       1

[6 rows x 8 columns]